<h1>Add a New Player</h1>

<form action="/bags" method="POST">
  <label> Player Name </label>
  <input type="text" name="nameame"> </br>

  <label> Player Team </label>
  <input type="text" name="Team"> </br>

  <input type="submit" value="Create">
</form>