<h1>Add a New Player!</h1>

<form action="/players" method="POST">
  <label> Player Name </label>
  <input type="text" name="name"> </br>

  <label> Player Team </label>
  <input type="text" name="nfl_team"> </br>
  
  <label> Player Position </label>
  <input type="text" name="position"> </br>
  
  </select>

  <input type="submit" value="Create">
</form>